<div class="layout-wrapper" [ngClass]="containerClass">
  <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">

      <img src="assets/images/logo-light-background.svg" alt="logo">
      <span>  Translations </span>
    </a>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': profileSidebarVisible}">
      <button class="p-link layout-topbar-button">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </button>
    </div>
  </div>

  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="layout-mask"></div>
</div>



<router-outlet></router-outlet>
