<div class="layout-wrapper" [ngClass]="containerClass">
  <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
      <img src="../assets/images/limble-log-white.png" alt="logo" />
      <span>TRANSLATIONS</span>
    </a>

    <div
      #topbarmenu
      class="layout-topbar-menu"
      [ngClass]="{ 'layout-topbar-menu-mobile-active': profileSidebarVisible }"
    >
      <button class="p-link layout-topbar-button">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </button>
    </div>
  </div>

  <div class="layout-main-container">
    <div class="layout-main">
      <!--- Page Title -->
      <div class="flex justify-content-between fadein animation-duration-1000">
        <h1>Limble Translations</h1>
        <div class="flex flex-row gap-4 align-self-center">
          <button
            pButton
            pRipple
            label="Add Language"
            class="p-button-secondary"
          ></button>
          <button
            pButton
            pRipple
            label="Add Phrase"
            class="p-button-primary"
          ></button>
        </div>
      </div>

      <div class="flex flex-row py-4 gap-4 justify-content-start">
        <span class="flex flex-row gap-2 align-items-center">
          <p-dropdown
            [options]="scopes"
            [(ngModel)]="selectedScope"
            optionLabel="name"
          ></p-dropdown>
        </span>
        <span class="flex flex-row gap-2 align-items-center">
          <p-dropdown
            [options]="scopes"
            [(ngModel)]="selectedScope"
            optionLabel="name"
          ></p-dropdown>
        </span>
      </div>

      <div class="flex gap-2">
        <div class="w-4 flex align-items-center">
          <p-listbox
            class="w-full"
            [options]="phrases"
            [(ngModel)]="selectedPhrase"
            optionLabel="text"
          >
          </p-listbox>
        </div>

        <div class="w-8 font-bold p-1 flex align-items-center">
          {{ selectedPhrase | json }}
        </div>
      </div>
      <p-paginator
        class="paginator flex w-4"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 25, 50]"
      ></p-paginator>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <div class="layout-mask"></div> -->
</div>

<router-outlet></router-outlet>
